body {
    place-items: center;
    padding-top: 10%;
    background-color: rgb(240, 187, 121);
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: blanchedalmond;
    border: 3px solid rgb(11, 11, 11);
    padding: 100px;
}

#mylabel {
    font-size: xx-large;
    margin-bottom: 2%;
}

.submitbox {
    margin-bottom: 2%;
    font-size: 20px;
    text-align: center;
    background-color: #f9f8f6;
}

.submitbtn {
    margin-bottom: 2%;
    cursor: pointer;
    padding: 5px 30px;
    font-size: 15px;
}

.outresult {
    font-size: x-large;
}